@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
main {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex; 
  flex-wrap: wrap;
}
footer {
  width: 100%;
}
footer div {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Header ====================== */
header {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
header h1 {
  margin: auto;
  padding: 20px;
}
header h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  text-align: left;
  padding: 8px 40px 12px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#map-container {
  width: 100%;
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list article {
  background-color: #fff;
  /*border: 2px solid #ccc;*/
  font-family: Arial,sans-serif;
  /*margin: 15px;*/
  margin: 5px 5px;
  text-align: left;
  width: calc((100% - 30px)/3);
  box-shadow: 0px 0px 2px 2px #CCCCCC;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
}
#restaurants-list p {
  margin: 0 10px;
  font-size: 11pt;
}
#restaurants-list article button {
  background-color: orange;
  /*border-bottom: 3px solid #eee;*/
  color: #fff;
  /*display: inline-block;*/
  font-size: 10pt;
  margin: 15px 5px 20px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 0px 5px 0px #999;
}
#restaurants-list article button:hover,
#restaurants-list article button:focus {
  background-color: #3397DB;
}
#restaurants-list article .moreContainer {
  width: 100%;
  text-align: center;
}

#restaurants-list article .restaurant-image-div {
  position: relative;
  margin: 0px 0px 10px;
}
#restaurants-list article .restaurant-name-div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);;
}
#restaurants-list article .restaurant-name-div h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 10px 10px 10px 10px;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
#restaurant-container, #reviews-container {
  /*border-bottom: 1px solid #d9d9d9;*/
  /*border-top: 1px solid #fff;*/
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.inside header {
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  display: block;
  height: 200px;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside footer {
  bottom: 0;
  position: absolute;
}
#restaurant-info {
  width: 40%;
}
#restaurant-image {
  width: 60%;
  max-height: 400px;
  overflow: hidden;
}
#restaurant-name {
  padding: 20px 0px 0px 20px;
  margin-bottom: 0px;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-address {
  padding: 0px 0px 0px 20px;
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 12pt;
}
#restaurant-hours {
  margin: 20px;
}
#restaurant-img {
  max-width: 100%;
  max-height: 100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 0px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#reviews-container {
  padding: 10px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  margin-bottom: 10px;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#reviews-list article {
  background-color: #fff;
  list-style-type: none;
  margin: 0px 10px 20px 10px;
  overflow: hidden;
  /*position: relative;*/
  width: calc(50% - 20px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#reviews-list article .reviewRating {
  margin: 10px;
  font-weight: bold;
}
#reviews-list article .reviewerName {
  font-weight: bold;
  margin: 10px;
  flex-grow: 1;
  text-align: right;
}
#reviews-list article .reviewDate {
  font-weight: bold;
  color: #666666;
  margin: 10px;
}
#reviews-list article .reviewBody {
  margin: 10px;
}
#reviews-list article .rating1 { color: #FF0000; }
#reviews-list article .rating2 { color: #FF0000; }
#reviews-list article .rating3 { color: #FF7F00; }
#reviews-list article .rating4 { color: #00AA00; }
#reviews-list article .rating5 { color: #3397DB; }
#restaurant-hours td {
  color: #666;
}
#restaurant-hours .day {
  vertical-align: top;
  font-weight: bold;
  color: #000;
}
#restaurant-hours .times {
  font-style: italic;
  color: #666666;
}
